.mobile {
  display: none;
}

.desktop {
  display: inline-flex;
}

.sidebar {
  display: inline-flex;
  width: 140px;
  flex-direction: column;
  background-color: #633f3f;
  min-height: 100vh;

  header {
    background-color: #532c2c;
    
    h1 {
      margin: 0;
      padding: 0.3em 0.5em;
      text-align: center;
      color: #ff0000;
      font-family: Tahoma, sans-serif;
      font-weight: 800;
      font-size: 25px;
      -webkit-text-stroke: #000000 1.5px;
    }

  }

  main {
    flex: 1;
  }
}

body {
  margin: 0;
  background-color: #470000;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tab {
  font-family: Tahoma, sans-serif;
  font-weight: 800;
  -webkit-text-stroke: #000000 1.5px;
  color: #ffffff;
  font-size: 30px;
  background-color: #DB162F;
  text-align: center;
  display: inline-block;
  border: none;
}

[active="true"] {
  background-color: #a70e22;
}

.tab-page:hover {
  background-color: #a70e22;
}

.tab p {
  margin: 10px 0;
}


.content main {
  flex: 1;
}



figure {
  display: block;
  flex-direction: row;
  text-align: center;
  
  img {
    display: inline-flex;
    max-width: 25vw;
    padding: 14px;
  }

  p {
    display: inline-flex;
    padding: 14px;
  }
}

figure#right {
  text-align: right;
}



@media all and (max-width: 480px) {
  .mobile {
    display: grid;
    grid-template-columns: 1fr;
  }

  .desktop {
    display: none;
  }
}

