body {
  margin: 0;
  min-width: 300px;
  background-color: #BBC2E2;
}

main {
  width: 90vw;
  margin: 50px auto;
}

#page {
  height: 300px;
  border-color: #63000d;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-radius: 0 0 8px 8px;
  background-color: #B38CB4;
}

h1 {
  margin: 0.7em 0;
  text-align: center;
  color: #DB162F;
  font-family: Tahoma, sans-serif;
  font-weight: 800;
  -webkit-text-stroke: #110605 1.5px;
}

header {
  font-size: 25px;
  width: 100%;
  background-color: #BBC2E2;
}

.navbar-mobile {
  display: none;
}

.navbar-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 480px) {
  .navbar-mobile {
    display: grid;
    grid-template-columns: 1fr;
  }

  .navbar-desktop {
    display: none;
  }
}

.tab, .tab-dropdown option {
  font-family: Tahoma, sans-serif;
  font-weight: 800;
  -webkit-text-stroke: #63000d 1.5px;
  color: #DB162F;
  font-size: 25px;
  background-color: #B38CB4;
  text-align: center;
  display: inline-block;
  border-color: #63000d;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-radius: 8px 8px 0 0;
  border-bottom: #63000d 7px solid;
}

.tab-dropdown {
  padding: 10px 0;
  outline: none;
}

.tab-page:hover {
  color: #BBC2E2;
}

[scheme="alt"] {
  -webkit-text-stroke: #812935 1.5px;
  border-color: #812935;
}

[active="true"] {
  border-bottom: none;
}

.tab p {
  margin: 10px 0;
}
