.mobile {
  display: none;
}

.desktop {
  display: contents;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}


header {
  box-shadow: 0px 2px 10px black;
  display:flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 72px;
  transition: top 0.3s;
  
  .sidebar {
    display: inline-flex;
    flex-basis: 160px;
    flex-direction: column;
    background-color: #7a1515;
  
    button {
      background-color: #8f0c1e;
      margin: 0;
      border: none;
      padding: 0.3em 0.5em;
      h1 {
        margin: 8px 0;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        font-family: Tahoma, sans-serif;
        font-weight: 800;
        font-size: 40px;
        -webkit-text-stroke: #000000 1.5px;
      }
    }
  }

  nav {
    flex-grow: 1;
    background-color: #DB162F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    .tab {
      font-family:Arial, Helvetica, sans-serif;
      font-weight: 300;
      color: #ffffff;
      font-size: 25px;
      background-color: #DB162F;
      text-align: center;
      align-content: center;
      text-decoration: none;
      display: inline-block;
      width: 22vw;
      border: none;
      margin: 10px 0;
    }

    [active-tab="true"] {
      background-color: #8f0c1e;
    }

    .tab p {
      margin: 10px 0;
    }
  }

}

.tab-page:hover {
  background-color: #8f0c1e;
  cursor: pointer;
}

main {
  background-color: #470000;
  display:flex;
  margin-top: 72px;
  flex: 1;
  flex-grow: 2;

  .sidebar {
    display: inline-flex;
    flex-basis: 160px;
    flex-direction: column;
    background-color: #8f0c1e;

    #scroller {
      width: inherit;
      background-color: #521b1b;
      text-align: center;
      font-family:Arial, Helvetica, sans-serif;
      font-weight: 300;
      color: #ffffff;
      font-size: 20px;

      p {
        align-content: center;
        height: 3em;
        width: 6em;
        margin: 50% auto;
      }
    }
  }

}

.content {
  flex-grow: 1;
}

.content#index {
  background-color: blue;
}

.content#about {
  background-color: green;
}

.content#work {
  background-color: yellow;
}

.content#faves {
  background-color: purple;
}

[active-page="true"] {
  display: block;
}

[active-page="false"] {
  display: none;
}

figure {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 85vh;
  border: solid black 3px;
  
  img {
    display: inline-flex;
    max-width: 25vw;
    padding: 14px;
  }

  p {
    display: inline-flex;
    padding: 14px;
  }
}

figure#right {
  flex-direction: row-reverse;
}

footer {
  background-color: #303030;
  display:flex;
  box-shadow: 0px -2px 10px black;
  min-height: 72px;

  .sidebar {
    display: inline-flex;
    flex-basis: 160px;
    flex-direction: column;
    background-color: #686868;
  
    h1 {
      margin: 0;
      padding: 0;
      height: 10px;
      text-align: center;
      color: #ffffff;
      font-family: Tahoma, sans-serif;
      font-weight: 800;
      font-size: 40px;
      -webkit-text-stroke: #000000 1.5px;
    }
  }

}


@media all and (max-width: 480px) {
  .mobile {
    display: grid;
    grid-template-columns: 1fr;
  }

  .desktop {
    display: none;
  }
}